{% extends 'layouts/base.html.twig' %}

{% block body_class %}homepage{% endblock %}
{% block body %}
    {% include 'blocks/primary-navbar.html.twig' %}
    <div class="container">
        <h3>Ceci est la page d'accueil.</h3>
    </div>
{% endblock %}
